html, body {
		height: 100%;
		margin: 0px;
		padding: 0px;
           }
#route-finder {
		position: absolute;
		width: 550px;
		height: 100%;
		float:left;
		background-color: #fff;
		background-image:url('../images/compass.jpeg');
		display:block
	      }

#content {
		top: 50px;
	 }

#map-canvas {
		height: 100%;
		margin: 0px;
		padding: 0px;
		margin-left:550px
	    }

#startaddr {
		margin-left: 5px;
		width: 65%;
	   }

#destaddr {
		margin-left: 19px;
		vertical-align:top;
		width:65%;
	  }

#submit {
		font-weight: bold;
	}	
