html, body {
		height: 100%;
		margin: 0px;
		padding: 0px;
           }
#route-finder {
		position: absolute;
		width: 366px;
		height: 99.7%;
		float:left;
		background-color: #fff;
		background-image:url('../images/compass.jpeg');
		display:block;
		border: 1px solid grey;
	      }
#content {
		top: 50px;
	 }

#map-canvas {
		height: 100%;
		margin: 0px;
		padding: 0px;
		margin-left:368px
	    }

#startaddr {
		margin-left: 19px;
		width: 281px;
	   }

#destaddr,#dest {
		margin-left: 19px;
		vertical-align:top;
		width:281px;
	  }

#submit {
		font-weight: bold;
	}	

#computed-route {
			display: none;
			vertical-align: top;
		}
